@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%; 
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alert-info {
  @apply text-blue-600 bg-slate-100
}

.alert-danger {
  @apply text-red-600 bg-slate-300
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  @apply border-t-indigo-500 decoration-indigo-500

  /* color: #ff8000; */
}